{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="font-size:15px; color:#CD853F;" align="right">{{ pgCode }}<br/>Period {{ round_num }}</p>Audit
{% endblock %}

{% block content %}
    {% if fail %}
        <p>You have been randomly selected to be audited!<br/><br/>You should have reported {{ correctIncome }} ECUs as
            your income, but you reported {{ reportedIncome }} ECUs, so you have been penalized {{ penalty }}% of your
            remaining income, after taxes have been deducted. Your income is now {{ newIncome }} ECUs.
    {% else %}
        <p>You have been selected to be audited! You correctly reported your income, so you will incur no penalty.</p>
{% endif %}

    {% next_button %}

{% endblock %}