    {% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Authority 2
{% endblock %}

{% block content %}
    {% if player.spanish %}
    <p>
         spanishCongratulations! You have been randomly selected to be the authority within your group.
        You have the power to make two choices:
            </p>

            <br/>

            <p>
                <b>Choice 1:</b> Multiply the total reported income of the participants within your group by {{ mult }}.
                <br/><br/>
                <b>Choice 2:</b> Multiply the total reported income of the participants within your group by {{ mult }} <b>AND</b>
                appropriate {{ tax }}% of the total for yourself.
            </p>

    {% else %}
        <p>
        Congratulations! You have been randomly selected to be the authority within your group.
        You have the power to make two choices:
            </p>

            <br/>

            <p>
                <b>Choice 1:</b> Multiply the total reported income of the participants within your group by {{ mult }}.
                <br/><br/>
                <b>Choice 2:</b> Multiply the total reported income of the participants within your group by {{ mult }} <b>AND</b>
                appropriate {{ tax }}% of the total for yourself.
            </p>

    

    {% endif %}
    <div>
        <button name="auth_appropriate" value="False" class="btn btn-primary btn-large">Choice 1</button>
        <button name="auth_appropriate" value="True" class="btn btn-primary btn-large">Choice 2</button>
    </div>

    

{% endblock %}